<div class="text-center">
    <br>
    <h4>
        Course registration App
        <br>
    </h4>
</div>
<br>
<div class="container">
    <form action="" method="get">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="button" onclick="location.href='/user-login'">User Login
            </button>
            <button class="btn btn-lg btn-primary" type="button" onclick="location.href='/admin-login'">Admin Login
            </button>
        </div>
    </form>
</div>
