<div class="container">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="name" class="form-label mt-4">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" required>
      </div>
      <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Semester</label>
        <select class="form-select" id="exampleSelect1">
          <option>I</option>
          <option>III</option>
          <option>V</option>
          <option>VII</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title" class="form-label mt-4">Project Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" required>
      </div>
      <div class="form-group">
        <label for="desc" class="form-label mt-4">Project Description</label>
        <textarea class="form-control" id="desc" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    </fieldset>
    <br>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">SIGN UP</button>
    </div>
    <br>
  </form>
</div>


